@model IEnumerable<foodfun.Models.CartViewModel>

@{
    ViewBag.Title = "CartList";

}


<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">品名</th>
                            <th scope="col">售價</th>
                            <th scope="col">數量</th>
                            <th scope="col">單品小計</th>
                            <th scope="col">刪除</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            string img_path = Shop.GetProductImage(item.product_no, item.category_no);

                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src=@img_path alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h3>@item.product_name</h3>
                                            <p>@item.Property_select</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$ @item.price_sale</h5>
                                </td>


                                <td>
                                    <div class="product_count">
                                        <span class="input-number-decrement">
                                            <a href="@Url.Action("CartMinus","Product",new {id=item.rowid,prod_no=item.product_no })"><i class="ti-minus"></i> </a>
                                        </span>
                                        <input class="input-number" type="text" value="@item.qty" min="0" max="100">
                                        <span class="input-number-increment">
                                            <a href="@Url.Action("CartPlus","Product",new {id=item.rowid,prod_no=item.product_no })"><i class="ti-plus"></i></a>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <h5>$ @item.each_item_amount</h5>
                                </td>
                                <td>
                                    <div>
                                        <a href="@Url.Action("CartDelete","Product",new {id=item.rowid })">
                                            <span><i class="fas fa-times"></i></span>
                                        </a>

                                    </div>
                                </td>



                            </tr>
                        }

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>訂單金額</h5>
                            </td>
                            <td>
                                <h5>
                                    $ @Cart.Totals.ToString("#,##0")
                                </h5>
                            </td>
                            <td></td>

                        </tr>

                    </tbody>
                </table>
                <div class="checkout_btn_inner float-right">
                    <a class="btn btn-primary" href="@Url.Action("CategoryList", "Product", new { id = "HOT" })">繼續點餐</a>
                    <a class="btn btn-danger  " href="@Url.Action("MealService","CheckOut")">前往結帳</a>
                </div>
            </div>
        </div>
    </div>
</section>

