@model foodfun.Models.AdminOrderViewModel
@using foodfun.Models;

@{
    ViewBag.Title = "產品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Categorys> categorys = new List<Categorys>();

    categorys = Shop.GetCategarysIsSale();

}


<style>
    .popular-items .order_box .order-list label {
        width: 100px;
    }
</style>

<section class="popular-items latest-padding">
    <div class="container-fluid">
        <div class="row">

            @*=========分類列表=========*@
            <div class="col-md-8 ">
                <div class="row product-btn justify-content-between mb-40">
                    <div class="properties__button">
                        <!--Nav Button  -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link btn-danger mx-2" id="nav-home-tab" href="/Staff/StaffHome/Index/HOT" role="tab" aria-controls="nav-home" aria-selected="true">熱門商品</a>
                                @foreach (var item in categorys)
                                {
                                    <a class="nav-item nav-link bg-danger mx-2" href="/Staff/StaffHome/Index/@item.category_no">@item.category_name</a>
                                }
                            </div>

                        </nav>

                        <!--End Nav Button  -->
                    </div>
                </div>


                @*=========商品==========*@
                <div class="row" id="">


                    @foreach (var item in Model.products)
                    {
                        <!-- card one -->
                        <div class="col-xl-2 col-lg-2 col-md-4 col-6 ">
                            <div class="item-box border mb-3 text-center " data-toggle="modal" data-target="#@item.product_no">
                                <h3 class="h5">
                                    @Html.DisplayFor(modelItem => item.product_name)
                                </h3>
                                <span>@Html.DisplayFor(modelItem => item.price_sale)</span>

                            </div>
                        </div>

                        @*=========================*@

                        <div class="modal item_prod_no" id="@item.product_no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> @item.product_name</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="pruduct_property mb-3">


                                            @{List<SelectListItem> lists = Shop.GetPropertyList(item.product_no);}

                                            @if (lists != null)
                                            {

                                                foreach (var item1 in lists)
                                                {
                                                    <div class="section">
                                                        <span class="col-form-label">@item1.Text   </span>
                                                        <div class="form-check form-check-inline">
                                                            @{
                                                                List<string> prop_values = Shop.GetProductPropertyValue(item1.Value).Split('/').ToList();
                                                                foreach (var value in prop_values)
                                                                {
                                                                    @Html.RadioButton(@item1.Value, @value, new { @class = "form-check-input" })
                                                                    @Html.Label(item1.Value, @value, new { @class = "form-check-label" })
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>

                                        <select class="custom-select">
                                            @for (int i = 0; i <= item.stock_qty; i++)
                                            {
                                                if (item.stock_qty == 0)
                                                {
                                                    <option>售完</option>
                                                }
                                                else if (i > 0)
                                                {
                                                    <option value=@i>@i</option>
                                                }

                                            }
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        @if (item.stock_qty > 0)
                                        {
                                            <button type="button" class="btn btn-primary item_confirm" id="item_confirm">確定</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-primary" disabled>確定</button>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @*=========商品 end==========*@
            </div>

            @*=========訂單==========*@
            <div class="col-md-4">

                <form id="CreateOrderForm">

                    <div class="order_box">
                        <div class="row">
                            <div class=" btn-group btn-group-toggle mx-auto order-list">
                                @foreach (var item in Model.mealServiceList)
                                {
                                    <label class="btn btn-warning mx-1 ">
                                        <input type="radio" name="mealService" id=@item.mealservice_no value="@item.mealservice_no">
                                        @item.mealservice_name
                                    </label>
                                }
                            </div>
                        </div>

                        <div class="mb-2" id="orderDetail">
                            @Html.Partial("_PartialOrderBox")
                        </div>
                        <div class="mb-2" id="table" style="display:none">

                            @Html.EditorFor(model => model.Order.table_no, new { htmlAttributes = new { @class = "form-control", placeholder = "桌號" } })
                            @Html.ValidationMessageFor(model => model.Order.table_no, "", new { @class = "text-danger" })

                        </div>

                        <div class="mb-2" id="ordertime" style="display:none">

                            @Html.EditorFor(model => model.Order.SchedulOrderTime, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = "預約取餐時間" } })
                            @Html.ValidationMessageFor(model => model.Order.SchedulOrderTime, "", new { @class = "text-danger" })



                        </div>

                        <div id="addr" style="display:none">


                            @Html.EditorFor(model => model.Order.receive_address, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入地址" } })
                            @Html.ValidationMessageFor(model => model.Order.receive_address, "", new { @class = "text-danger" })

                        </div>

                        @*<a class="btn_3" href="#">Proceed to Paypal</a>*@
                        <input id="CreateNewOrder" type="button" value="確認" class="btn btn-danger btn-block" />
                    </div>
                </form>


            </div>
        </div>
    </div>


</section>




<script>

    //將點餐資訊存到[session]並更新頁面
    $(document).ready(function () {
            $('.item-box').css("cursor", "pointer");
            $('.item_confirm').on('click', function () {
                var id = $(this).closest(".item_prod_no").attr("id");
                var qty = parseInt($(this).parent().siblings(".modal-body").children(".custom-select").val());
                console.log(qty);

                var str_product_spec="";
                //var property1 = $(this).parent().siblings(".modal-body").find(".form-check-input:checked").val();
                var property1 = $(this).parent().siblings(".modal-body").find(".form-check-input:checked");

                $.each(property1, function () {
                    var label = $(this).closest(".section").children(".col-form-label").html();
                    console.log($(this).val());
                    str_product_spec += label+' : '+ $(this).val() + " ";
                    console.log(str_product_spec)
                })


                AddToCart(id, qty, str_product_spec);
                $(".modal").modal('hide');

            });

            function AddToCart(productId, qty, select) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("OrderBox","StaffHome")',
                    data: { id: productId,qty:qty,prop_select:select},
                    success: function (data) {
                        /*alert('成功')*/
                        $("#orderDetail").html(data);
                    },
                    error: function () {
                        alert('失敗')
                    }
                })
            }

        })

    //選擇用餐方式並動態顯示欄位
    $("input[type=radio][name = mealService]").change(function () {
        console.log('aa')
        var mealno = $(this).val();

        console.log(mealno)


        if (mealno == "A") {
            $('#table').show()
            $('#ordertime').hide()
            $('#addr').hide()
        }
        if (mealno == "B") {
            $('#table').hide();
            $('#ordertime').show()
            $('#ordertime label').text("取餐時間")
            $('#addr').hide()
        } CreateOrderForm
        if (mealno == "C") {
            $('#table').hide();
            $('#ordertime').show()
            $('#ordertime label').text("送達時間")
            $('#addr').show()

        }

    })

    //提交點餐資訊,選擇先結後結
    $("#CreateNewOrder").click(function () {
        var data = $("#CreateOrderForm").serialize();
        console.log(data);
        $.ajax({
            type: "post",
            url: '@Url.Action("AddOrderInfi", "StaffHome")',
            data: data,
            success: function (result) {
                var content = result == 0 ? '請選擇寫用餐方式!' : (result == 1 ? '請填寫桌號!' : (result == 2 ? '請填寫取餐時間!' : '請填寫外送資訊'));

                if (result!=4) {
                    $.alert({
                        title: '錯誤!',
                        content: content,
                        type: 'red',

                    });
                } else {
                    $.confirm({
                        title: '下一步!',
                        content: '是否結帳!',
                        type: 'orange',
                        theme: 'modern',
                        buttons: {
                            稍後結帳: function () {
                                $.ajax({
                                    type: "post",
                                    url: '@Url.Action("CheckoutLater", "StaffHome")',
                                }).done(function (result) {
                                    if (result != false) {
                                        $.alert({
                                            icon: 'fa fa-check',
                                            title: '訂單成立!',
                                            content: '訂單:' + result + '點餐完成!',
                                            type: 'orange',
                                            theme: 'modern',

                                            buttons: {
                                                ok: function () {
                                                    location.href = '@Url.Action("Index", "StaffHome")';
                                                }
                                            }
                                        });
                                    } else {
                                        $.alert({
                                            icon: 'fa fa-exclamation',
                                            title: '錯誤!',
                                            content: '購物車是空的!',
                                            type: 'red',
                                            theme: 'modern'
                                        });

                                    }
                                })
                            },

                            前往結帳: {
                                btnClass: 'btn-warning',
                                action: function () { location.href ='@Url.Action("Checkout", "StaffHome")'}
                            },
                        }
                    });
                }
            }
        })

    })


</script>
