@{ var nowOrderList = Order.GetOrderList(false);}



@foreach (var item in nowOrderList)
{
    <tr>
        @Html.HiddenFor(modelItem => item.order_no)
        <td>
            @Html.DisplayFor(modelItem => item.order_date)
            <br>
            @Html.DisplayFor(modelItem => item.mealservice_name)
        </td>
        <td>
            @(item.ispaided.Value ? "已結帳" : "未結帳")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderstatus_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>

        <td>
            <button data-toggle="modal" data-target="#@item.order_no" class="btn btn-warning">檢視明細</button>
            @*@Html.ActionLink("檢視明細", "Details", new { /* id=item.PrimaryKey */ })*@

        </td>
    </tr>
    <div class="modal fade" id="@item.order_no" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content  popOrder">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="exampleModalLabel"> 訂餐明細</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <span>@item.order_date</span>
                    <span class="float-right">用餐金額: $@item.total </span>



                    <div class="mt-4">
                        @foreach (var item1 in item.orderDetails)
                        {
                            <span>@item1.qty x </span>

                            <span class="h5">@Shop.GetProductName(item1.product_no)</span>
                            <span class="h6">@item1.Property_select</span>

                            <span class="float-right">$@item1.each_item_amount</span>
                            <hr />
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <img src="~/img/OrderDiolog.jpg" width="100%" />

                </div>

            </div>
        </div>
    </div>
}




