@{ var currentCart = foodfun.Models.CartTemp.GetCurrentCart();}
<div class="border-bottom border-secondary  my-3">
    <div>
        <ul class="list">
            <li>商品<span>小計</span></li>

            @foreach (var item in currentCart.cartItems)
            {

                <li>
                    @item.qty x
                    @Shop.GetProductName(item.product_no)
                    @*<span class="middle"></span>*@
                    <span class="last">@item.each_item_amount</span>
                </li>
                <li>
                    @item.Property_select
                </li>
            }
        </ul>
    </div>
</div>
<ul class="list list_2">

    <li>
        <a href="#">
            總計
            <span> @currentCart.TotalAmount.ToString("C0")</span>
        </a>
    </li>
</ul>
