@model IEnumerable<foodfun.Models.StaffOrderViewModel>

@{
    ViewBag.Title = "線上訂單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .order_time {
        border-radius: 50%;
        font-size: 11px;
        left: 15%;
        top: 38%;
        position: absolute;
    }

    .order_total {
        border-radius: 50%;
        left: 15%;
        font-size: 11px;
        top: 60%;
        position: absolute;
    }

    .order-icon {
        position: relative;
        display: inline-block;
    }
</style>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12 border text-center align-items-center">
                <h2 class="my-2">@ViewBag.Title</h2>
            </div>
            <div class="col-md-8 text-center my-4 ">
                <table class="table  ">
                    @foreach (var item in Model)
                    {
                        <tr>
                    
                            <td>

                                <h5>@Html.DisplayFor(modelItem => item.mealservice_name)</h5>
                                @Html.DisplayFor(modelItem => item.orders.order_no)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.orders.SchedulOrderTime, "ShortDateTime")

                            </td>
                            <td>
                                @(item.orders.ispaided.Value ? "已結帳" : "結帳")
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.orders.total)
                            </td>

                            <td>
                                <button data-toggle="modal" data-target="#@item.orders.order_no" class="btn btn-secondary">結帳</button>
                                @*@Html.ActionLink("檢視明細", "Details", new { /* id=item.PrimaryKey */ })*@

                            </td>
                        </tr>
                    }

                </table>


            </div>

            <div class="col-md-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Resaurant food</p>
                                    <p>(37)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Travel news</p>
                                    <p>(10)</p>
                                </a>
                            </li>

                        </ul>
                    </aside>
                </div>
            </div>




        </div>
    </div>
</section>

